<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418739750880-spais6rvjnrikqgv49gvssvok757c1h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418739750880-spais6rvjnrikqgv49gvssvok757c1h7</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ7SJGkF8Dp_yFInnzFRpW1mzuZ0RTAb4</string>
	<key>GCM_SENDER_ID</key>
	<string>418739750880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contracheque</string>
	<key>PROJECT_ID</key>
	<string>contrachequern</string>
	<key>STORAGE_BUCKET</key>
	<string>contrachequern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418739750880:ios:8cb28fb73768f186cbcd85</string>
</dict>
</plist>